WebService/Web References/AddService/myWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NumSum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Num2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Num3" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NumSumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NumSumResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NumSumSoapIn">
    <wsdl:part name="parameters" element="tns:NumSum" />
  </wsdl:message>
  <wsdl:message name="NumSumSoapOut">
    <wsdl:part name="parameters" element="tns:NumSumResponse" />
  </wsdl:message>
  <wsdl:portType name="myWebserviceSoap">
    <wsdl:operation name="NumSum">
      <wsdl:input message="tns:NumSumSoapIn" />
      <wsdl:output message="tns:NumSumSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="myWebserviceSoap" type="tns:myWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NumSum">
      <soap:operation soapAction="http://tempuri.org/NumSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="myWebserviceSoap12" type="tns:myWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NumSum">
      <soap12:operation soapAction="http://tempuri.org/NumSum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="myWebservice">
    <wsdl:port name="myWebserviceSoap" binding="tns:myWebserviceSoap">
      <soap:address location="https://localhost:44331/myWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="myWebserviceSoap12" binding="tns:myWebserviceSoap12">
      <soap12:address location="https://localhost:44331/myWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>